/* physician-login.css */
body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa; /* Light grey background */
}

h1 {
  color: #495057; /* Updated text color */
  }

#loginForm {
  width: 380px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #003289;
}

input[type=text], input[type=email], input[type=password], select {
  width: calc(100% - 0px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  display: block;
  background: #ffffff;
}

#logInButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

#logInButton:hover {
  background-color: #0069d9; /* Slightly darker shade for hover effect */
}

.errorDiv {
  color: #dc3545; /* Bootstrap danger color */
  text-align: center;
  margin-top: 10px;
}

.errorMessage {
  font-size: 14px;
}

a {
  color: #007bff; /* Bootstrap primary color */
  text-decoration: none;
}

a:hover {
  color: #0056b3; /* Darker shade for hover effect */
  text-decoration: underline;
}

@media (max-width: 576px) {
  #loginForm {
      margin: 0 10px;
      padding: 15px;
  }
}
