/* signUp.css */
body {
  font-family: 'Nunito', sans-serif; /* Updated font family */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa; /* Changed background color */
}

h1 {
color: #495057; /* Updated text color */
}

#signUpForm {
  width: 380px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
}

input[type=text], input[type=email], input[type=password], select {
  width: calc(100% - 0px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  display: block;
  background: #ffffff;
}

#signUpButton {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 10px 15px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-top: 10px;
}

#signUpButton:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.errorDiv {
  color: #dc3545; /* Bootstrap danger color */
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.errorMessage {
  font-size: 14px;
  margin: 0;
}

a {
  color: #007bff; /* Bootstrap primary link color */
}

a:hover {
color: #0056b3; /* Darker shade for hover effect */
  text-decoration: underline;
}

.specialty-select {
  margin-top: 10px;
}

#specialty {
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #ffffff;
}

label {
  color: #003289;  
}
