<!DOCTYPE html>
<html>
<head>
  <title>Measurement Data</title>
</head>
<body>
  
  <div class="table-container">
    <h1>Here is your Measurement Data, {{user.first_name}}</h1>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Heart Rate</th>
            <th>Blood Oxygen</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr>
            <td>{{ user.measurementData[0].timeStamp }}</td>
            <td>{{ user.measurementData[0].heartrate }}</td>
            <td>{{ user.measurementData[0].spo2 }}</td>
        </tr> -->
        <tr>
            <td>2023-05-02</td>
            <td>test1</td>
            <td>test1</td>
        </tr>
        <tr>
            <td>2023-05-03</td>
            <td>test2</td>
            <td>test2</td>
        </tr>
        <!-- Add more rows as needed -->
        </tbody>
    </table>
  </div>
</body>
</html>
