<div class="container">
    <div class="details">
        <h1>Patient Login</h1>
        
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <!-- Old: <div class="input-container">
                <label>Email</label>
                <div>
                    <input type="email" placeholder="Email" formControlName="email"/>
                </div>
                // Only shows error-list when fc.email has an error and form is submitted
                <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
                    <div *ngIf="fc['email'].errors['required']">Should not be empty</div>
                    <div *ngIf="fc['email'].errors['email']">Not a valid email</div>
                </div>
            </div>
            <div class="input-container">
                <label>Password</label>
                <div>
                    <input type="password" placeholder="Password" 
                    formControlName="password"/>
                </div>

                <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
                    <div *ngIf="fc['password'].errors['required']">Should not be empty</div>
                </div>
            </div> -->
            <text-input
                [control]="fc['email']"
                [showErrorsWhen]="isSubmitted"
                type="email"
                label="Email">
            </text-input>
            <text-input
                [control]="fc['password']"
                [showErrorsWhen]="isSubmitted"
                type="password"
                label="Password">
            </text-input>
            
            <default-button text="Login"></default-button>
            <div class="register">
                New user? &nbsp;
                <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
                  Register here
                </a>
            </div>
        </form>
    </div>
</div>