<header>
    <div class="container">
        <a routerLink="/" class="logo">Heart Rate App</a>
        <nav>
            <ul>
                <!-- 'ngIf' works like an if-clause - li is only shown when the if statement is true -->
                <li *ngIf="!isAuth"> 
                    <a routerLink="/login">Patient Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.first_name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/order">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/Phy_Login">Physician Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.first_name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/order">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>