<header>
    <div class="container">
        <a routerLink="/" class="logo">Heart Rate App</a>
        <!-- <a *ngIf="patientIsAuth" routerLink="/devices" class="logo">Devices</a>
        <a *ngIf="patientIsAuth" routerLink="/measurements" class="logo">Measurements</a>
        <a *ngIf="physicianIsAuth" routerLink="/patients" class="logo">Patients</a>
        -->
        <nav>
            <ul>
                <!-- 'ngIf' works like an if-clause - li is only shown when the if statement is true 
                <li *ngIf="!patientIsAuth">
                    <a routerLink="/login">!PatAuth</a>
                </li>
                <li *ngIf="patientIsAuth">
                    <a routerLink="/login">PatAuth</a>
                </li>
                <li *ngIf="!physicianIsAuth">
                    <a routerLink="/login">!PhyAuth</a>
                </li>
                <li *ngIf="physicianIsAuth">
                    <a routerLink="/login">PhyAuth</a>
                </li>
                <li *ngIf="!patientIsAuth || !physicianIsAuth">
                    <a routerLink="/login">!PatAuth or !PhyAuth</a>
                </li> -->
                <li *ngIf="!isAuth"> 
                    <a routerLink="/login">Patient Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.first_name}}</a>
                    <div class="menu">
                        <a routerLink="/phy-account">Account</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <!-- <li *ngIf="!physicianIsAuth && !patientIsAuth">
                    <a routerLink="/phy-login">Physician Login</a>
                </li>
                <li *ngIf="physicianIsAuth && !patientIsAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.first_name}}</a>
                    <div class="menu">
                        <a routerLink="/user-account">Account</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li> -->
            </ul>
        </nav>
    </div>
</header>