<div class="container">
    <div class="details">
        <h1>Register Device</h1>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <text-input
                [control]="fc['deviceId']"
                [showErrorsWhen]="isSubmitted"
                label="Device ID">
            </text-input>
            <text-input
                [control]="fc['email']"
                [showErrorsWhen]="isSubmitted"
                label="Email"
                type="email">
            </text-input>

            <default-button text="Register Device"></default-button>
        </form>
    </div>
</div>