html {
  height: 100%;
  /* Interactive background gradient */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Hide scrollbars if not necessary */
}

#loginForm {
  width: 300px;
  padding: 16px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  /* Additional styles to ensure form is above the animated background */
  position: relative;
  z-index: 2;
}

input[type=text], input[type=password] {
  width: calc(100% - 30px);
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid #ccc;
  background: #f1f1f1;
  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#logInButton {
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

#logInButton:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.errorDiv {
  color: red;
  text-align: center;
  margin-top: 10px; /* Adds space above the error message */
  display: none; /* Start with the div hidden */
}

.errorMessage {
  margin: 0; /* Removes default paragraph margin */
  font-size: 0.9em; /* Optional: Adjusts the font size */
}
