#devicesTable tbody tr:hover {
    background-color: #ecf0f3; /* This is a light grey color; you can use any color you prefer */
    cursor: pointer; /* Change the cursor to indicate the row is clickable */
}

/* Add this CSS to remove vertical borders in the table */
#devicesTable td,
#devicesTable th {
    border-left: none;
    border-right: none;
}

#devicesTable thead tr th {
    border-bottom: 2px solid #dee2e6; /* or any color you prefer for the horizontal line */
}

#devicesTable tbody tr td {
    border-bottom: 1px solid #dee2e6; /* or any color you prefer for the horizontal line */
}

#devicesTable tbody tr:last-child td {
    border-bottom: none; /* Remove bottom border from the last row */
}

/* Style for hover effect on table rows */
#devicesTable tbody tr:hover {
    background-color: #f5f5fa; /* Light purple color for hover */
}

/* New style for table header background */
#devicesTable thead tr {
    background-color: #e0ebf7; /* Bootstrap primary color */
    
}

#devicesTable .dropdown {
    position: relative; /* This is required to position the dropdown menu within the cell */
}

#devicesTable .dropdown-toggle {
    border: none; /* Removes the border if not needed */
    background: transparent; /* Makes the background transparent */
    padding: 0; /* Removes padding if not needed */
    margin: 0; /* Adjust as necessary */
}

#devicesTable .dropdown-menu {
    position: absolute;
    right: 0; /* Align the dropdown menu to the right */
    top: 100%; /* Position the dropdown menu right below the toggle button */
}

#devicesTable {
    overflow: visible; /* Ensures that the dropdowns can overflow the table */
}

#devicesTable tr {
    overflow: visible; /* Ensures that the dropdowns can overflow the table rows */
}

#deviceToDelete {
    text-align: center ;
}

.is-invalid {
    border-color: red;
}

#errorContainer {
    width: 100%; /* Ensure the container spans the full width */
    margin-bottom: 1rem; /* Optional spacing */
}

#errorList {
    color: red; /* Keep the color for the error messages */
    padding-left: 7%; /* Adjust as needed for alignment */
}

/* This will remove the default caret that Bootstrap adds to a dropdown */
.dropdown-toggle::after {
    display: none;
}

.custom-width {
    max-width: 100px; /* Adjust as needed */
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 768px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}
@media screen and (max-width: 768px) {
    #accordionSidebar {
        min-width: 80px;
        overflow-y: auto;
        overflow-x: hidden;
        transition: min-width 0.15s ease-in-out;
    }
}
@media screen and (max-width: 768px) {
    .topbar {
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-control {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .modal-dialog {
        width: 100%;
        max-width: none;
    }

    .modal-content {
        margin: 10px;
    }
}




