/* styles.css */
.success-message {
    text-align: center;
    margin: 20px 0;
    color: green;
}

.measurement-table {
    margin-top: 20px;
}

/* Center align text in table headers and data cells */
.measurement-table th,
.measurement-table td {
    text-align: center;
}
