/* signUp.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* Interactive background gradient */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    transition: background 0.5s ease;
}

body:hover {
    /* Change gradient position on hover for interactive effect */
    background-position: 100% 0;
}

#signUpForm {
    width: 300px;
    padding: 16px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 2;
  }
  
  /* Adjust the input styles if necessary */
  input[type=text], input[type=email], input[type=password] {
    width: calc(100% - 30px); /* Adjust width as needed */
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid #ccc;
    background: #f1f1f1;
    border-radius: 10px;
    display: block; /* Ensure inputs are block-level elements */
  }
  
  /* Style the submit button */
  #signUpButton {
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
    display: block; /* Ensure the button is a block-level element */
  }
  
  #signUpButton:hover {
    opacity: 1;
  }
  
  /* Style the error message container */
  .errorDiv {
    color: red;
    text-align: center;
    margin-top: 10px; /* Adds space above the error message */
  }
  
  /* Style the error message text */
  .errorMessage {
    margin: 0; /* Removes default paragraph margin */
    font-size: 0.9em; /* Adjusts the font size */
  }
  